body{
	background-color: #eee;
}
.mainDiv{
	width: 80%;
	background: white;
	margin-left: 10%;
	margin-top: 100px;
	border: 1px solid #ccc;
	box-shadow: 10px 10px 10px #ccc;
	padding-bottom: 50px;
}
.loginDiv{
	width: 30%;
	background: white;
	margin-left: 35%;
	margin-top: 100px;
	padding-bottom: 50px;
	border: 1px solid #ccc;
	box-shadow: 10px 10px 10px #ccc;
}
.wrong{
	color: #b92c28;
}
